@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

@*@section stylesheets
{
<link href="~/Content/VideoPlayer/video-default.css" rel="stylesheet" />


}*@


@section styles
{
    <style>
    .videoUIWrapper {
        margin-top: 20px;
    }
</style>

 
    
    }

@section scripts
{
  
   <script type="text/javascript">

       $("#video_1").videoUI();

    </script>
}

<div class="container">

    <div class="row clearfix">
        <div class="col-md-1 column">
        </div>
        <div class="col-md-4 column">
            <form class="form-horizontal">
                <fieldset>

                    <!-- Form Name -->

                    <div class="row ">
                        <div class="col-md-6">
                            <!-- Text input-->
                            <div class="control-group">
                                <label class="control-label" for="firstName"></label>
                                <div class="controls">
                                    <input id="firstName" name="firstName" placeholder="First name" class="form-control input-xlarge" required="" type="text">

                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <!-- Text input-->
                            <div class="control-group">
                                <label class="control-label" for="lastName"></label>
                                <div class="controls">
                                    <input id="lastName" name="lastName" placeholder="Last name" class="form-control input-xlarge" required="" type="text">

                                </div>
                            </div>
                        </div>
                    </div>




                    <!-- Text input-->
                    <div class="control-group">
                        <label class="control-label" for="email"></label>
                        <div class="controls">
                            <input id="email" name="email" placeholder="email" class="form-control input-xlarge" required="" type="text">

                        </div>
                    </div>

                    <!-- Password input-->
                    <div class="control-group">
                        <label class="control-label" for="password"></label>
                        <div class="controls">
                            <input id="password" name="password" placeholder="Password" class="form-control input-xlarge" required="" type="password">

                        </div>
                    </div>

                    <!-- Password input-->
                    <div class="control-group">
                        <label class="control-label" for="passwordRepeated"></label>
                        <div class="controls">
                            <input id="passwordRepeated" name="passwordRepeated" placeholder="Password verification" class="form-control input-xlarge" required="" type="password">

                        </div>
                    </div>
                    <!-- Button -->
                    <div class="control-group">
                        <label class="control-label" for="btnSignUp"></label>
                        <div class="controls">
                            <button id="btnSignUp" name="btnSignUp" class="btn btn-primary">  Sign Up  </button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="col-md-2 column">
        </div>
        <div class="col-md-4 column">
            <form role="form">
                <!-- Text input-->
                <div class="control-group">
                    <label class="control-label" for="email"></label>
                    <div class="controls">
                        <input id="email" name="email" placeholder="email" class="form-control input-xlarge" required="" type="email">

                    </div>
                </div>

                <!-- Password input-->
                <div class="control-group">
                    <label class="control-label" for="password"></label>
                    <div class="controls">
                        <input id="password" name="password" placeholder="Password" class="form-control input-xlarge" required="" type="password">

                    </div>
                </div>

                <!-- insert vertical space so submit buttons get aligned-->
                <div class="controls controls-row" style="height:3.4em">
                </div>

                <!-- Password input-->
                <div class="control-group">
                    <div class="controls controls-row">
                        <p class="s">Log in with your linkedin profile and get all the benefits of your C.V.</p>
                    </div>
                </div>

                <!-- Button -->
                <div class="control-group" >
                    <label class="control-label" for="btnSignIn"></label>
                    <div class="controls row">
                        <div class="col-md-6">
                            <button id="btnSignIn" name="btnSignIn" class="btn btn-primary">  Sign In  </button>
                        </div>
                        <div class="col-md-6">

                            <img alt="linkedInLogo" src="../../Content/images/LinkedIn118_34.png" />
                        </div>
                    </div>    
                </div>
            </form>
        </div>
        <div class="col-md-1 column">
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-4 column col-md-offset-1">
            <h2 >
                What is vidme?
            </h2>
            <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            </p>
            <p>
                <a class="btn" href="#">View details »</a>
            </p>
        </div>
        <div class="col-md-4 column col-md-offset-2">
            <div class="videoUiWrapper thumbnail" style="margin-top:20px;">
                <video width="370" height="214" id="video_1">
                    <source src="http://www.youtube.com/watch?feature=player_detailpage&v=M4yIvxJd7ck" type="video/ogg">
                    <source src="pathtovideo/video.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column col-md-offset-1">
            <!-- insert vertical space -->
            <div class="controls controls-row" style="height:4em">
            </div>

            <img src="../../Content/images/VidmeLogo_blue.png" alt="VIDme logo" />
        </div>
    </div>
</div>